<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>تغییر رمز </title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'><link rel="stylesheet" href="../../static/style3.css">

</head>
<body>
  <div class="mainDiv" dir="rtl">
    <div class="cardStyle">
      <form method="post" name="signupForm" id="signupForm">
        {% csrf_token %}
        <img src="" id="signupLogo"/>

        <h2 class="formTitle">
          تغییر رمز
        </h2>

         <div class="inputDiv">
          <label class="inputLabel" for="password">رمز قدیمی</label>
          <input type="password" id="password" name="old_password" required>
        </div>

        <div class="inputDiv">
          <label class="inputLabel" for="password">رمز جدید</label>
          <input type="password" id="password" name="new_password1" required>
        </div>

        <div class="inputDiv">
          <label class="inputLabel" for="confirmPassword">تایید رمز</label>
          <input type="password" id="confirmPassword" name="new_password2" required>
        </div>

        <div class="buttonWrapper">
          <button type="submit" id="submitButton" class="submitButton pure-button pure-button-primary">
            <span>ثبت</span>
          </button>
        </div>

      </form>
          {% if form.errors %}
    {% for field in form %}
        {% if field.errors %}
            {% for error in field.errors %}

                 <p style="color: red;text-align: center;margin-right: 20px">{{ error }}</p>

            {% endfor %}
        {% endif %}
    {% endfor %}

        {% if form.non_field_errors %}
            {{ form.non_field_errors }}
        {% endif %}
    {% endif %}
    </div>
  </div>






</body>

</html>