
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

<div>

    <span >

        {% if page.has_next %}

            <a href="?page={{ page.next_page_number }}" class="btn btn-info"> next page </a>
            Z
        {% endif %}

        <span>
            page {{ page.number }} of {{ page.paginator.num_pages }}
        </span>

            {% if page.has_previous  %}
            <a href="?page={{ page.previous_page_number }}" class="btn btn-info"> previous page </a>
        {% endif %}



        <br> <br>
        {% for i in page.paginator.page_range %}
            {% if i == page.number %}

                <span style="color: maroon">{{ i }}</span>
                {% else %}
                {{ i }}
            {% endif %}
        {% endfor %}

    </span>


</div>