{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Reset Password </title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'><link rel="stylesheet" href="{% static 'style3.css' %}">

</head>
<body>
  <div class="mainDiv">
    <div class="cardStyle">
      <form method="post" name="signupForm" id="signupForm">
        {% csrf_token %}
        <img src="" id="signupLogo"/>

        <h2 class="formTitle">
          Reseting you password 
        </h2>

        <div class="inputDiv">
          <label class="inputLabel" for="email">Enter you Email</label>
          <input type="email" id="password" name="email" required>
        </div>

        <div class="buttonWrapper">
          <button type="submit" id="submitButton" class="submitButton pure-button pure-button-primary">
            <span>Continue</span>
          </button>
        </div>

      </form>
    </div>
  </div>

  {% if form.errors %}
    please fix this errors
        <br>
    {% for field in form %}
        {% if field.errors %}
            {% for error in field.errors %}

                {{ field.label }} : {{ error }}

            {% endfor %}
        {% endif %}
    {% endfor %}

        {% if form.non_field_errors %}
            {{ form.non_field_errors }}
        {% endif %}
    {% endif %}




</body>

</html>