 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 528px;
}

.u-section-1 .u-text-1 {
  margin: 169px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 45px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 19.5px));
  min-height: 266px;
  grid-gap: 26px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-1 {
  padding: 12px 20px;
}

.u-section-1 .u-icon-1 {
  width: 80px;
  height: 80px;
  background-image: none;
  margin: 0 auto;
  padding: 16px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  margin: 45px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-2 {
  padding: 12px 20px;
}

.u-section-1 .u-icon-2 {
  width: 80px;
  height: 80px;
  background-image: none;
  margin: 0 auto;
  padding: 16px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 3rem;
  margin: 45px 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-3 {
  padding: 12px 20px;
}

.u-section-1 .u-icon-3 {
  width: 80px;
  height: 80px;
  background-image: none;
  margin: 0 auto;
  padding: 16px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 3rem;
  margin: 45px 0 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-4 {
  padding: 12px 20px;
}

.u-section-1 .u-icon-4 {
  width: 80px;
  height: 80px;
  background-image: none;
  margin: 0 auto;
  padding: 16px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 3rem;
  margin: 45px 0 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 17px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    min-height: 219px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 13px));
    min-height: 671px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    min-height: 553px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-6 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-8 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

